{% extends 'base.html' %}

{% block title %} 회사 제품 출력  {% endblock %}

<!--
    추가내용  : product 의 post_id 를 확인한 후에 리스트를 출력해야하는데..
-->

{% block content %}


<h1> 회사 - 물품 리스트 출력 </h1>
<table border="1">
    <tr>
        <th>회사이름</th>
        <th>회사 대표</th>
        <th>설립 연도</th>
        <th>지역</th>
        <th>전화번호</th>
        <th>이메일 주소</th>    
        <th>홈페이지</th>
    </tr>

    
    <tr>
        <td>{{ company_id.company_name}}</td>
        <td>{{ company_id.ceo_of_company}}</td>
        <td>{{ company_id.year_of_establishment}}</td>
        <td>{{ company_id.area}}</td>
        <td>{{ company_id.number}}</td>
        <td>{{ company_id.email_address}}</td>
        <td>{{ company_id.homepage}}</td>
    </tr>
    
    

</table>




<p> 회사에 종속된 -물품 리스트</p>

<table border="1">
    <tr>
        <th>제품 이름</th>
        <th>제품 가격</th>
        <th>제품 카테고리</th>
    </tr>

    {% for p in product %}
    {% if company_id.id == p.post_id %}
    <tr>
        <td>{{ p.product_name }}</td>
        <td>{{ p.price }}</td>
        <td>{{ p.category }}</td>
    </tr>
    {% endif %}
{% endfor %}



</table>

{% endblock%}


